{% extends "blog/base.html" %}
{% block content %}
<section class="layout_padding section">
    <div class="container">
        <div class="col">
            <div class="cours">
                <img
                        class="row md-6"
                        src="https://i.ibb.co/WPNrh4H/AI.png"
                        style="width: 200px; height: 200px"
                />
            </div>
            <a href="https://en.wikipedia.org/wiki/Artificial_intelligence">
                <button class="btn btn-outline-dark" type="submit">Artificial Intelligence</button>
            </a>
            <p>Gain the ability to do tasks with the computer or a robot controlled by a computer that are getting automatically executed with human intelligence and discernment.</p>


            <div class="cours">
                <img
                        class="row md-6"
                        src="https://i.ibb.co/kmvMX0N/DBS.png"
                        style="width: 200px; height: 200px"
                />
            </div>
            <a href="https://en.wikipedia.org/wiki/Database">
                <button class="btn btn-outline-dark" type="submit">Database Systems</button>
            </a>

            <p>Dive into the world of Database and learn about Query Evaluation, Estimation and Optimization. Discover the similarity search in high dimensions, indexing based on hashing, Top-k and Skyline queries, index structures, transaction management, probabilistic databases, data layouts, OLTP/OLAP and last Big Data and MapReduce</p>

            <div class="cours">
                <img
                        class="row md-6"
                        src="https://i.ibb.co/NWrZC7x/SD.png"
                        style="width: 200px; height: 200px"
                />
            </div>

            <a href="https://en.wikipedia.org/wiki/Software_development"><button class="btn btn-outline-dark" type="submit">Software Development</button></a>
            <p>Become a self-taught Software Developer. Learn how to use procedural, imperative, functional and object-oriented Programming languages. With over 100 real-world exercises and successfully passing the tasks earn SLP(selflearning Points) in order to access further documents in this field</p>


            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/X8KK13k/CS.png"
                        style="width: 200px; height: 200px"
                />
            </div>

                <a href="https://en.wikipedia.org/wiki/Computer_security">
                    <button class="btn btn-outline-dark" type="submit">Cyber Security</button>
                </a>

            <p>The application of technologies, processes and controls to protect systems, networks, programs, devices and data from cyber attacks. It aims to reduce the risk of cyber attacks and protect against the unauthorised exploitation of systems, networks and technologies.</p>



            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/5LX8GFY/NS.png"
                        style="width: 200px; height: 200px"
                />
            </div>

                <a href="https://en.wikipedia.org/wiki/Network_security">
                    <button class="btn btn-outline-dark" type="submit">Network Security</button>
                </a>

            <p>Discover the history of Network Security and their importance. Learn about security threats, attacks and how to handle/avoid them. You will be introduced to different security Layers and learn their effects in Network Security</p>



            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/gW3DFHB/AD.png"
                        style="width: 200px; height: 200px"
                />
            </div>

                <a href="https://en.wikipedia.org/wiki/Data_structure">
                    <button class="btn btn-outline-dark" type="submit">Algorithms and Datastructures</button>
                </a>

            <p>Learn about data structures and algorithms in order to write efficient and optimized computer programs. A data structure is a named location that can be used to store and organize data. And, an algorithm is a collection of steps to solve a particular problem.</p>

            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/2Swmw3q/M.png"
                        style="width: 200px; height: 200px"
                />
            </div>

            <a href="https://en.wikipedia.org/wiki/Mathematics"> <button class="btn btn-outline-dark" type="submit">Mathematics</button></a>

            <p>Dive into the world of Maths in IT-Field and learn about Algebraic Structures, Combinatorics, Stochastic, Statistic and Analysis in maths for computer scientists with over 100 real-world exercises and earn SLP(selflearning Points) in order to access further documents in this field.</p>

            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/x8RZL37/WD.png"
                        style="width: 200px; height: 200px"
                />
            </div>

                <a href="https://en.wikipedia.org/wiki/Web_development">
                    <button class="btn btn-outline-dark" type="submit">Web Development</button>
                </a>

            <p>In this IT-Field you are going learn how to turn a Hypertext into Web Application by working with Web Frameworks and learn the connection between back- and frontend. You will design your Hypertext and give it functionality. With creating your own Website and finishing the final project, you will learn how to work like a Web Developer.</p>

            <div class="cours">
                <img
                        class="row md-4"
                        src="https://i.ibb.co/WBQDNJH/DS.png"
                        style="width: 200px; height: 200px"
                />
            </div>

                <a href="https://en.wikipedia.org/wiki/Data_science">
                    <button class="btn btn-outline-dark" type="submit">Datascience</button>
                </a>

            <p>All about Data. Here you will learn how to work with APIs, how to analyse your Data and find different solutions with logical conclusions</p>
        </div>
    </div>
</section>
{% endblock content %}