{% extends "blog/basicbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Password Reset</legend>
            {{ form | crispy }} <!--  render in paragraph tag-- , | is for filtering> -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-infor" type="submit">Request Password Reset (IT WON'T WORK)</button>
            <p></p>
            <small class="text-muted ml-2">GO TO mywebsite/settings. SET VARIABLES (EMAIL_USER, EMAIL_PASSWORD)
            EQUAL TO YOUR 'GMAIL' username and password. GO TO YOUR GMAIL-allow 'LESS SECURE APPS' OR
            '2-WAY AUTHENTICATION' so your gmail can send link to the users to reset their password</small>
        </div>
    </form>
</div>
{% endblock content %}